* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.hr-border{
    border: 1px solid gray;
}
a{
    text-decoration: none;
}
/* catagories */
.category-li{
    list-style: none;
    margin: 0px 17px;
}
.category-a{
    color: gray;
}